html{
    font-size:56.5%;
    box-sizing: border-box;
}
body{
    margin:0;
    height:100vh;
    font-size:1.6rem;
    font-family:Arial, Helvetica, sans-serif;
}
.grid-cointainer{
    display: grid;
    grid-template-areas:"header""main""footer";
    grid-template-columns:1fr;
    grid-template-rows:5rem 1fr 5rem;
    height:100%;
}
header{
    grid-area:header;
    background-color:#12446d;
}
main{
    grid-area:main;
    background-color:#2c3a49;
}
footer{
    grid-area:footer;
    color:#e5e6e7;
    background-color:#203040 ;
}
/* */
.row{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}
.row.center{
    justify-content:center;
}
a{
    text-decoration: None;  
}
a:hover{
    color:#056457;
}
header a{
    color:#ffffff;
    padding:1rem;
}
a.band{
    color:#ffff;
    font-size: 3rem;
    font-weight: bold;
}